@page
@model Fribergs_CarRental_RP.Pages.LogoutModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Logga ut</title>
</head>
<body>
    <h1>Logga ut</h1>

    <p>Utloggning misslyckad.</p>
    
</body>
</html>