@page
@model IndexModel
@{
}
<h1>Välkommen admin!</h1>
<div>
    <a class="booking-customer" asp-page="./Cars/Index">Lista alla bilar</a>
</div>
<div>
    <a class="booking-customer" asp-page="./Customers/Index">Lista alla kunder</a>
</div>
<div>
    <a class="booking-customer" asp-page="./Order/Index">Lista alla ordrar</a>
</div>